<section class="page-articles">
  <% for (const article of articles) { %>
  <article>
    <h2><%= article.name %></h2>
    <p>
      <time datetime="<%= article.date.from %>"
        ><%= new Date(article.date.from).toLocaleDateString() %></time
      >
      -
      <time datetime="<%= article.date.to %>"
        ><%= new Date(article.date.to).toLocaleDateString() %></time
      >
    </p>
    <p><%= article.description %></p>
  </article>
  <% } %>
</section>
