<header class="page-header">
  <div class="profile">
    <img src="./assets/profile.jpg" alt="Profile Image" />
    <h2><%= title %></h2>
  </div>
  <div class="info">
    <a href="<%= contact.location_url %>" rel="noopener noreferrer" target="_blank">
      <%- include('../assets/icon/call.svg') %>
      <span><%= contact.location %></span>
    </a>
    <a href="<%= contact.phone_url %>" rel="noopener noreferrer" target="_blank">
      <%- include('../assets/icon/call.svg') %>
      <span><%= contact.phone %></span>
    </a>
    <a href="<%= contact.email_url %>+" rel="noopener noreferrer" target="_blank">
      <%- include('../assets/icon/alternate_email.svg') %>
      <span><%= contact.email %></span>
    </a>
  </div>
</header>
