<!-- aside hero image -->
<% if (hero.image.src && hero.image.alt) { %>
  <div class="text-sm text-red-400 dark:text-red-300">
    <span>&lt;img&gt;</span>
    <div class="p-3 border-l border-dashed border-zinc-800 dark:border-zinc-300">
      <img class="select-none rounded-sm shadow-2xl" src="<%= hero.image.src %>" alt="<%= hero.image.alt %>" />
    </div>
    <span>&lt;/img&gt;</span>
  </div>
<% } %>
<!-- aside hero links -->
<% if (hero.links && hero.links.length > 0) { %>
  <div class="link-grid [&>a]:grid [&>a]:grid-cols-[24px_1fr] [&>a]:gap-2 [&>a]:items-center">
    <% for (const link of Object.values(hero.links)) { %>
      <a class="p-2 text-xs hover:underline" rel="noopener,noreferrer" href="<%= link.href %>" target="_blank">
        <%- helpers.icon(link.collection, link.icon, link.attributes) %>
        <span class="whitespace-nowrap w-[calc(100%)] text-ellipsis overflow-hidden"><%= link.text %></span>
      </a>
    <% } %>
  </div>
<% } %>
<!-- aside hero social icons -->
<% if (hero.icons && hero.icons.length > 0) { %>
  <div class="link-grid grid-cols-[repeat(auto-fit,minmax(48px,1fr))] auto-rows-[minmax(48px,1fr)]">
    <% for (const link of Object.values(hero.icons)) { %>
      <a rel="noopener,noreferrer" href="<%= link.href %>" target="_blank">
        <%- helpers.icon(link.collection, link.icon, link.attributes) %>
      </a>
    <% } %>
  </div>
<% } %>
