<article class="page-contents-grid">
    <% for (const obj of article.data ?? []) { %>
      <a class="link-icon" href="<%= obj.url %>" rel="noopener noreferrer" target="_blank" title="<%= obj.title %>">
        <img src="<%= obj.image %>" alt="<%= obj.alt %>" />
        <span class="capitalize"><%= obj.title %></span>
      </a>
    <% } %>
</article>
